.dashboard {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(135deg, #eafaf1, #f4fdf8);
}

.dashboard-title {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 600;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  margin-bottom: 25px;
}
.barView{
   min-width:300px;
  display: flex;
  align-items: center;
  
}

/* Glassmorphism Card */
.glass-card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.salesBtn {
  padding: 0.75rem;
  background: transparent;
  color: #666;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  white-space: nowrap;
  height:15px;
  width: 100px;
}
.salesBtn:hover{
  text-decoration: underline;
}

.glass-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

.glass-card h3 {
  margin-bottom: 15px;
}

/* Pie icons */
.pie-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.pie-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

/* Activity */
.activity-list {
  list-style: none;
  padding: 0;
}

.activity-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.activity-list li:last-child {
  border-bottom: none;
}
